:root {
    --ff-primary: 'Balsamiq Sans', cursive;
    --ff-secondary: 'Baloo Bhaina 2', cursive;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --color-light: #fff;
    --color-dark: #303030;
    --color-accent: #3F83F8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1em 0 .5rem;
}

.container {
    max-width: 90%;
    margin: 1rem auto;
}

/*Header*/
header {
    max-width: 100vw;
    display: grid;
    place-items: center;
    padding: .875rem;
    background-color: white;
    position: relative;
}

.home,
.home:hover {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

/* Main Content */
.grid {
    display: grid;
    grid-template-columns: 100%;
    background-color: white;
    margin: 5% auto;
}

img {
    width: 90%;
    height: auto;
    margin-top: 5%;
}
  
.top-section,
.bottom-section {
    display: grid;
    grid-template-columns: 100%;
}
  
.middle-section {
    display: grid;
    grid-template-columns: 100%;
}

.middle-section .left-column {
    order: 1;
}

.left-column,
.right-column {
    display: grid;
    place-items: center;
}

.left-column p,
.right-column  p {
    text-align: center;
    width: 75%;
    line-height: 1.5rem;
    letter-spacing: .12rem;
    word-spacing: .16rem;
    margin-bottom: 2rem;
}

/* Footer */
.footer {
    background: #111;
    color: var(--color-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: red;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

  
/* Media queries for smaller screens */
@media (min-width: 1020px) {
    html {
        font-size: 1.5rem;
    }

    header {
        padding: 0 0 2em 0;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .container {
        max-width: 100%;
        margin: 0;
    }

    .grid {
        grid-template-rows: repeat(3, 1fr);
        margin: 0;
    }

    .top-section,
    .bottom-section {
        grid-template-columns: 35% 65%;
    }

    .middle-section .left-column {
        order: 0;
    }

    .middle-section {
        grid-template-columns: 65% 35%;
    }

    .middle-section .right-column {
        order: 2;
    }

    .top-section,
    .bottom-section {
        background-color: blue;
        padding: 1em 0 1em 1.5em;
        align-items: center;
    }

    .middle-section {
        padding: 1em 1.5em 1em 0;
        align-items: center;
    }

    .left-column,
    .right-column {
        background-color: inherit;
    }

    .left-column p,
    .right-column  p {
        text-align: left;
        width: 85%;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: .12rem;
        word-spacing: .16rem;
    }

  img {
        width: 100%;
        margin: 15%;
    }

    .social-list {
        margin: 1em 0 0;
    }

}
  



  