:root {
    --ff-primary: 'Balsamiq Sans', cursive;
    --ff-secondary: 'Baloo Bhaina 2', cursive;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --white: #ffffff;
    --background: #f9f9f9;
    --light-gray: #e7ecef;
    --gray: #8b8c89;
    --light-blue: #6096ba;
    --blue: #274c77;
    --sky: #a3cef1;
    --sand: #ffeedd;
    --dark-blue: #022b3a;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1em 0 .5rem;
}

.container {
    max-width: 90%;
    margin: 1rem auto;
}

/*Header*/
header {
    max-width: 100vw;
    display: grid;
    place-items: center;
    padding: .875rem;
    background-color: var(--background);
    position: relative;
}

.home,
.home:hover {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

a {
    color: var(--blue);
    text-decoration: none;
    transition: transform 200ms ease-in-out;
}

a:hover {
    color: var(--light-blue);
    transform: scale(1.1);
}

/* Main Content */
.grid {
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--background);
    margin: 5% auto;
    max-width: 650px;
}

img {
    width: 90%;
    max-width: 500px;
    height: auto;
    margin-top: 5%;
}
  
.top-section,
.bottom-section {
    display: grid;
    grid-template-columns: 100%;
}
  
.middle-section {
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--background);
}

.middle-section .left-column {
    order: 1;
}

.left-column,
.right-column {
    display: grid;
    place-items: center;
}

.left-column p,
.right-column  p {
    text-align: center;
    width: 75%;
    line-height: 1.5rem;
    letter-spacing: .12rem;
    word-spacing: .16rem;
    margin-bottom: 2rem;
}

/* Footer */
.footer {
    background: var(--dark-blue);
    color: var(--light-gray);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
    opacity: .7;
    letter-spacing: .25rem;
}

.footer__link {
    font-weight: var(--fw-bold);
    transition: all 200ms ease-in-out;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
    transition: all 200ms ease-in-out;
}

.social-list__link {
    padding: .5em;
    transition: all 200ms ease-in-out;
}

.footer__link:hover,
.social-list__link:hover,
.social-list__item:hover {
    opacity: 1;
    transform: scale(1.3);
}

  
/* Media queries for smaller screens */
@media (min-width: 1020px) {
    html {
        font-size: 1.5rem;
    }

    header {
        padding: 0 0 2em 0;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .container {
        max-width: 100%;
        margin: 0;
    }

    .grid {
        grid-template-rows: repeat(3, 1fr);
        margin: 0;
        max-width: none;
    }

    .top-section,
    .bottom-section {
        grid-template-columns: 35% 65%;
    }

    .middle-section .left-column {
        order: 0;
    }

    .middle-section {
        grid-template-columns: 65% 35%;
    }

    .middle-section .right-column {
        order: 2;
    }

    .top-section,
    .bottom-section {
        background-color: var(--sand);
        padding: 1em 0 1em 5em;
        align-items: center;
    }

    .middle-section {
        padding: 1em 5em 1em 0;
        align-items: center;
    }

    .left-column,
    .right-column {
        background-color: inherit;
    }

    .left-column p,
    .right-column  p {
        text-align: left;
        width: 85%;
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: .12rem;
        word-spacing: .16rem;
        color: var(--dark-blue);
    }

  img {
        width: 100%;
        margin: 15%;
    }

    .social-list {
        margin: 1em 0 0;
    }
}
  



  